.sidebar-image {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 80px;
  border-radius: 8px;
  z-index: 10;
}
.small-image {
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}
